.images_width{
    width: 250px;
    height: 240px;
    border-radius: 30px;
}
.btn-style{

    border-radius: 20px 40px;
    background-color:green;
    color: white;
    padding: 10px;
    
}

.btn-style:hover{

   background-color: red;
}
.manage-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
#services{
    padding: 20px;
}

/* Make it responsive */
@media only screen and (max-width:688px) {
    .manage-container{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 10px;
    }
    .images_width{
        width: 300px;
        height: 300px;
        border-radius: 30px;
    }
}
@media only screen and (min-width:689px) and (max-width: 991px){
    .manage-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .images_width{
        width: 280px;
        height: 300px;
        border-radius: 30px;
    }
}